<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Tenth navbar example">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="justify-content-lg-start">
            <a style="color: #fff; font-size:bolder; text-decoration: none;" href="#">PARKVILLE SYSTEM</a>
        </div>
        <div class="collapse navbar-collapse justify-content-center" id="navbarsExample08">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="dashboard">Dashboard</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown08" data-bs-toggle="dropdown"
                        aria-expanded="false">Parking Unit</a>
                    <!-- <ul class="dropdown-menu" aria-labelledby="dropdown08">
                        <li><a class="dropdown-item" href="trucks.html">Trucks</a></li>
                        <li><a class="dropdown-item" href="taxis.html">Taxis</a></li>
                        <li><a class="dropdown-item" href="coaster.html">Coasters</a></li>
                        <li><a class="dropdown-item" href="bodas.html">Boda-Bodas</a></li>
                        <li><a class="dropdown-item" href="personal_cars.html">Personal Cars</a></li>
                    </ul> -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="tyre_clinic">Tyre Clinic</a>
                </li>
                <li class="nav-item">
                    <a href="battery_shop" class="nav-link">Battery Shop</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown08" data-bs-toggle="dropdown"
                        aria-expanded="false">Settings</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown08">
                        <li><a class="dropdown-item" href="/admin/users">Manage Users</a></li>
                        <li><a class="dropdown-item" href="/user/profile">Manage Users</a></li>
                        <li><a class="dropdown-item" href="/auth/logout">Logout</a></li>
                        <li><a class="dropdown-item" href="/auth/logout">Login</a></li>
                        <li><a class="dropdown-item" href="/auth/register">Register</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- <div class="justify-content-end d-none d-lg-block">
            <div class="row">
                <div class="col-3">
                    <img src="./assets/images/account.jpg" height="50px" width="50px" alt="..." class="rounded-circle">
                </div>
                <div class="col-9">
                    <p class="text-center mt-3 text-white">Super Admin</p>
                </div>
            </div>
        </div> -->
    </div>
</nav>